@import "base.scss";

// Color
$mainPrimaryColor: #669C49;
$mainSecondColor: #FF904F;
$noticeColor: #E93E5D;

/* Utils */
.nav-container{
  width: 1280px;
  max-width: 95%;
}
.container{
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
.bg-main-primary{
  background-color: $mainPrimaryColor;
}
.bg-notice{
  background-color: $noticeColor;
}
.text-main-primary{
  color: $mainPrimaryColor;
}
.text-main-second{
  color: $mainSecondColor;
}

// Nav
.menuBtn{
  width: 1.6rem;
  height: 1.34rem;
  flex-direction: column;
  justify-content: space-between;
  span{
    border-radius: 2px;
    width: 100%;
    height: 3px;
    background-color: $mainSecondColor;
    transition: all .5s;
    transform-origin: 50% 50%;
    pointer-events: none;
  }
  &.active{
    justify-content:center;
    span{
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(1) {
        transform: rotate(45deg) translateY(4.2px);
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-4.2px);
      }
    }
  }
}
.menuList{
  @media (max-width:767px) {
    height: 0;
    transition: height .5s ease-in-out;
    overflow: hidden;
    background-image: linear-gradient( rgba(#000, .1) 0%, transparent 10%, transparent 12%);
  }
  a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 4px;
      border-radius: 2px;
      left: 0;
      bottom: -6px;
      background-color: #E9DECC;
      transition: width .5s;
    }
    &:hover::after{
      width: 100%;
    }
  }
  &.active{
    @media (max-width:767px) {
      height: 16rem;
    }
  }
}