@import "reset.scss";
@import "base.scss";

/* Utils */
*{
  transition: all .3s;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--themeColor);
  background-color: var(--primaryColor);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  &:hover{
    text-decoration: underline;
  }
}

/* Common */
.nav-container{
  width: 1280px;
  max-width: 95%;
}
.container{
  width: 1140px;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.bg-primary{
  background-color: var(--primaryColor);
}
.bg-second{
  background-color: var(--secondColor);
}
.bg-notice{
  background-color: var(--noticeColor);
}
.bg-theme{
  background-color: var(--themeColor);
}
.text-primary{
  color: var(--primaryColor);
}
.text-second{
  color: var(--secondColor);
}
.shadow{
  box-shadow: 0 0 20px rgba(#000, .2);
}