@import "reset.scss";
@import "base.scss";

/* Utils */
*{
  transition: all .3s;
  box-sizing: border-box;
}

[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

body {
  font-family: 'Quicksand', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--themeColor);
  background-color: var(--primaryColor);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  &:hover{
    text-decoration: underline;
  }
}

/* Common */
.nav-container{
  width: 1280px;
  max-width: 95%;
}
.container{
  width: 1140px;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}

// bg
.bg-paw{
  background-image: url('@/assets/img/bg_paw.svg');
}

// shadow
.shadow{
  box-shadow: 0 0 20px rgba(#000, .2);
}
.dropShadow{
  filter: drop-shadow(0 0 6px rgba(#000, 1));
}

// menu
.menuA {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -6px;
    background-color: var(--thirdColor);
    transition: width .5s;
  }
  &:hover{
    text-decoration: none;
    &::after{
    width: 100%;
  }
  }
}

// ani
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.99);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}